# Ignore Visual Studio folders
.vs/
*.bin

# Ignore build artifacts
bin/
obj/
Publish/
Deploy/
*.rtf
*.wixpdb
*.user
*.suo
*.cache
*.log
*.snk
*.sln
*.html
*.htm
BuildWS_Setup.ps1
AcroRdrInstaller.exe
WS_Setup.exe
Settings.settings